<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Minimal Django File Upload Example</title>
</head>

<body>
<!-- List of uploaded documents -->
{% if documents %}
    <ul>
        {% for document, value in documents.items %}
            {% if value|length == 2 %}
                <li>{{ document }} - <a class="alert-success" href="{% url "build" document %}">Build</a></li>
                </br>
            {% else %}
                <li>{{ document }}</li>
                </br>
            {% endif %}

            {% for val in value %}
                <ul><a href="{{ val.docfile.url }}">{{ val.docfile.name }}</a></ul>
            {% endfor %}
            </br>
            </br>
            </br>
        {% endfor %}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}

<!-- Upload form. Note enctype attribute! -->
<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>

    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

    <p>
        {{ form.docfile.errors }}
        User: {{ form.user }}
        {{ form.docfile }}
    </p>

    <p><input type="submit" value="Upload"/></p>
</form>
</body>

</html>
