<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Minimal Django File Upload Example</title>
</head>

<body>
<!-- List of uploaded documents -->
{% if stacks %}
    <ul>
        {% for stack, id in stacks.items %}




            <ul><a href="{% url 'detail' stack id %}">Name: {{ stack }} - {{ id }}</a></ul>
        {% endfor %}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}

<!-- Upload form. Note enctype attribute! -->
</body>

</html>
